<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>/categories - <i>Array of category IDs</i></p>
    <p>/categories/:offset/:count - <i>Paged category details</i></p>
    <p>/category/:id - <i>Single category details</i></p>
    <p>/category/:id/:round - <i>Clue details for :round level in :category</i></p>
    <p>/clues/:id - <i>Single clue details</i></p>
    <p>/clues/:id/compare/:text - <i>See if URL-encoded 'text' is a correct answer</i></p>
    <p>/clues/random - <i>Get a random clue</i></p>
  </body>
</html>
